# Compiled JavaScript and Map files
/dist/
/build/
*.js
*.js.map

# Node modules
/node_modules/

# IDE-specific files
.idea/
.vscode/
*.iml
*.iws
*.ipr

# Operating System files
.DS_Store
Thumbs.db

# Log files
*.log

# Environment variables
.env
.env.local
.env.*.local

# Test coverage reports
/coverage/

# npm debug logs
npm-debug.log*

# Yarn lock files (if not using npm)
yarn-error.log
.pnp.*